In [1]:
import pandas as pd

In [65]:
spxa = pd.read_csv('index_data/$SPX.csv',parse_dates=["Date"])

spxa['Date']=pd.to_datetime(spxa['Date'], format='%d%m%Y')
spxa[['Close','Ticker']].describe()

              Close
count  23981.000000
mean     420.142804
std      633.440417
min        4.400000
25%       19.230000
50%       94.090000
75%      520.479980
max     2930.750000